name: 노드 24 빌드

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Node 24 빌드
      run: cd ./node24
           && docker build -t ghcr.io/yagumyagum/node24-ygyg:latest . 
           && docker push ghcr.io/yagumyagum/node24-ygyg:latest
