name: 노드 22 빌드

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Node 22 빌드
      run: cd ./node20
           && docker build -t ghcr.io/yagumyagum/node22-ygyg:latest . 
           && docker push ghcr.io/yagumyagum/node22-ygyg:latest
