name: 노드 20 빌드

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Node 20 빌드
      run: cd ./node20 && sh ./upload.sh $(date +%s)
