name: 노드 24 빌드

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Node 24 빌드
      run: cd ./node24 &&
           docker buildx use modest_northcutt &&
           docker buildx build
            --platform linux/amd64,linux/arm64,linux/arm/v7,linux/arm64/v8
            -t ghcr.io/yagumyagum/node18-ygyg:latest
            --push .
