name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Node 16
      run: docker build ./node16 --file ./node16/Dockerfile --tag node16:$(date +%s)
